
name: Build

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: "17"

      - uses: gradle/actions/setup-gradle@v3

      - run: gradle clean shadowJar

      - uses: actions/upload-artifact@v4
        with:
          name: AiChat-jar
          path: build/libs/*.jar
